@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --secundaryColor:rgb(255, 200, 0);
}
html{
    scroll-padding: 8rem;
    scroll-behavior: smooth;
}
body{
    display: inline;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    
}
header{
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}
header ul{
    display: flex;
    justify-content: space-evenly;
}
header ul li a{
    color: black;
    font-weight: 500;
}
.active{
    border-bottom: 3px solid var(--secundaryColor);
}
hr{
    width: 100%;
    border: 25px solid rgb(17, 17, 17);
}
section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:70%;
    box-sizing: border-box;
    padding: 1rem;
    margin: auto;
    gap: 10rem;
    margin-top: 4rem;
}
.container{
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.observation{
    border: 2px solid var(--secundaryColor);
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(142, 142, 142, 0.092);
}

input{
    border-radius: 5px;
    border: none;
    padding: .8rem;
    background-color: rgba(128, 128, 128, 0.113);
}
button{
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--secundaryColor);
    border: none;
    border-radius: 5px;
    width: 42%;
    padding: .8rem 0;

}
.container-info-sexo,.nivelDeAtividade{
    margin-bottom: 1rem;
}
footer{
    width: 100%;
    margin-top: 2.5rem;
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(50, 50, 50);
}
footer a{
    color: white;
    padding: 0 .6rem;
}

@media screen and (max-width:1100px){
    aside{
        display: none;
    }
    section{
        width: 100%;
    }
}